<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051529356696-ho0n5j94l5q4c7g2q0ifp679skqg3nk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051529356696-ho0n5j94l5q4c7g2q0ifp679skqg3nk7</string>
	<key>API_KEY</key>
	<string>AIzaSyDa36qvtif58NKb_EsYCsm985vV9nE1cks</string>
	<key>GCM_SENDER_ID</key>
	<string>1051529356696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.reactNativeBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>reactnativeboilerplate-94d44</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativeboilerplate-94d44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051529356696:ios:885954a4c3ed9a61</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativeboilerplate-94d44.firebaseio.com</string>
</dict>
</plist>